#root {
  max-width: 1280px; /* Establece el ancho máximo */
  margin: 0 auto;    /* Centra el contenido horizontalmente */
  padding: 2rem;     /* Espaciado interno (padding) */
  text-align: center; /* Centra el texto en todo el contenido */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em; /* Da espacio interno dentro de las tarjetas */
  border: 1px solid #ddd; /* Añade un borde claro */
  border-radius: 8px; /* Redondea los bordes */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
  margin-bottom: 1.5em; /* Añade margen inferior para separar las tarjetas */
}

.read-the-docs {
  color: #888;  /* Color gris tenue */
  font-style: italic; /* Estilo en cursiva */
  margin-top: 1em; /* Margen superior para separarlo de otros elementos */
}
